[user]
	name = hongzhiijun
	email = eehongzhijun@outlook.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	sh = stash
	df = diff
[core]
	editor = vim
	excludesfile = /home/hongzhijun/.gitignore
	symlinks = true
